In [69]:
import os
import plaid
import requests
import datetime
import json
import pandas as pd
%matplotlib inline

In [70]:
def pretty_print_response(response):
  print(json.dumps(response, indent=4, sort_keys=True))

In [71]:

PLAID_CLIENT_ID = os.getenv('PLAID_CLIENT_ID')
PLAID_SECRET = os.getenv('PLAID_SBX_SECRET_KEY')
PLAID_PUBLIC_KEY = os.getenv('PLAID_PUBLIC_KEY')
PLAID_ENV = os.getenv('PLAID_ENV', 'sandbox')
PLAID_PRODUCTS = os.getenv('PLAID_PRODUCTS', 'transactions')

# Plaid Access Token

In this section, you will use the plaid-python api to generate the correct authentication tokens to access data in the free developer Sandbox. This mimics how you might connect to your own account or a customer account, but due to privacy issues, this homework will only require connecting to and analyzing the fake data from the developer sandbox that Plaid provides. 

Complete the following steps to generate an access token:
1. Create a client to connect to paid
2. Use the client to generate a public token and request the following items: 
['transactions', 'income', 'assets']
3. Exchange the public token for an access token
4. Test the access token by requesting and printing the available test accounts

### 1. Create a client to connect to plaid

In [72]:
INSTUTION_ID = "ins_109508"

In [73]:
# YOUR CODE HERE
client = plaid.Client(client_id=PLAID_CLIENT_ID, secret=PLAID_SECRET, public_key=PLAID_PUBLIC_KEY, environment='sandbox')
client.Institutions.get(2)

{'institutions': [{'country_codes': ['US'],
   'credentials': [{'label': 'Username', 'name': 'username', 'type': 'text'},
    {'label': 'Password', 'name': 'password', 'type': 'password'}],
   'has_mfa': False,
   'input_spec': 'fixed',
   'institution_id': 'ins_25',
   'mfa': [],
   'mfa_code_type': 'numeric',
   'name': 'Ally Bank',
   'products': ['assets',
    'auth',
    'balance',
    'transactions',
    'income',
    'identity'],
   'routing_numbers': ['124003116']},
  {'country_codes': ['US'],
   'credentials': [{'label': 'Login ID', 'name': 'username', 'type': 'text'},
    {'label': 'Password', 'name': 'password', 'type': 'password'}],
   'has_mfa': True,
   'input_spec': 'fixed',
   'institution_id': 'ins_113968',
   'mfa': ['questions'],
   'mfa_code_type': 'numeric',
   'name': 'Amegy Bank of Texas - Personal Banking',
   'products': ['assets', 'auth', 'balance', 'transactions', 'income'],
   'routing_numbers': ['113011258']}],
 'request_id': 've7Anhs28HKebBW',
 'total': 10439}

### 2. Generate a public token

In [74]:
# YOUR CODE HERE
public_token_create = client.Sandbox.public_token.create(INSTUTION_ID, ['transactions','income','assets'])

### 3. Exchange the public token for an access token

In [75]:
# YOUR CODE HERE
exchange_response = client.Item.public_token.exchange(public_token_create['public_token'])
access_token = exchange_response['access_token']

### 4. Fetch Accounts

In [76]:
# YOUR CODE HERE
client.Accounts.get(access_token)

{'accounts': [{'account_id': 'n7QyJjeWR1ikAPbJJlqVHqkXr17W9EF6lKRGN',
   'balances': {'available': 100,
    'current': 110,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '0000',
   'name': 'Plaid Checking',
   'official_name': 'Plaid Gold Standard 0% Interest Checking',
   'subtype': 'checking',
   'type': 'depository'},
  {'account_id': 'bKzLjqr7DQhPbl188Kg6TbdovR9GWKuVbNj3Q',
   'balances': {'available': 200,
    'current': 210,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '1111',
   'name': 'Plaid Saving',
   'official_name': 'Plaid Silver Standard 0.1% Interest Saving',
   'subtype': 'savings',
   'type': 'depository'},
  {'account_id': 'mjXm9P7EMZHzXNbjjRl3iZzlQLKy8NuLyMNAd',
   'balances': {'available': None,
    'current': 1000,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '2222',
   'name': 'Plaid CD',
   'official_name': 'Plaid Bronze Standard 0.2% Interest CD',
   'subtype': 'cd',
   'type': 'depository'},
  {'account_id': 'yEW4bpyBkzUvqGprrNmMIwvJ9MpXodty6WmDA',
   'balances': {'available': None,
    'current': 410,
    'iso_currency_code': 'USD',
    'limit': 2000,
    'unofficial_currency_code': None},
   'mask': '3333',
   'name': 'Plaid Credit Card',
   'official_name': 'Plaid Diamond 12.5% APR Interest Credit Card',
   'subtype': 'credit card',
   'type': 'credit'},
  {'account_id': '9mMPwZDBRNulwkqZZrJpt8Ra3ZPoqLuRxV1Eg',
   'balances': {'available': 43200,
    'current': 43200,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '4444',
   'name': 'Plaid Money Market',
   'official_name': 'Plaid Platinum Standard 1.85% Interest Money Market',
   'subtype': 'money market',
   'type': 'depository'},
  {'account_id': 'voWxRkyKg9fjkm733dbZTQjPpo4kdxHW6nmXZ',
   'balances': {'available': None,
    'current': 320.76,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '5555',
   'name': 'Plaid IRA',
   'official_name': None,
   'subtype': 'ira',
   'type': 'investment'},
  {'account_id': 'Rpyz196bwXHJaBrZZ1qEcl3PBwkVbNCRpXyGN',
   'balances': {'available': None,
    'current': 23631.9805,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '6666',
   'name': 'Plaid 401k',
   'official_name': None,
   'subtype': '401k',
   'type': 'investment'},
  {'account_id': '6GbaB75KnNS5re811oDvH5XKNyzjkWCgDbZxK',
   'balances': {'available': None,
    'current': 65262,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '7777',
   'name': 'Plaid Student Loan',
   'official_name': None,
   'subtype': 'student',
   'type': 'loan'}],
 'item': {'available_products': ['auth',
   'balance',
   'credit_details',
   'identity',
   'investments',
   'liabilities'],
  'billed_products': ['assets', 'income', 'transactions'],
  'error': None,
  'institution_id': 'ins_109508',
  'item_id': 'ZnyPjJ63EDTbPznGGdwMT7l9GBqBozHg3Wa4K',
  'webhook': ''},
 'request_id': 'sU2ZiOwNCiSYwwl'}

---

# Account Transactions with Plaid

In this section, you will use the Plaid Python SDK to connect to the Developer Sandbox account and grab a list of transactions. You will need to complete the following steps:


1. Use the access token to fetch the transactions for the last 90 days
2. Print the categories for each transaction type
3. Create a new DataFrame using the following fields from the JSON transaction data: `date, name, amount, category`. (For categories with more than one label, just use the first category label in the list)
4. Convert the data types to the appropriate types (i.e. datetimeindex for the date and float for the amount)

### 1. Fetch the Transactions for the last 90 days

In [77]:
# YOUR CODE HERE
start_date = '{:%Y-%m-%d}'.format(datetime.datetime.now() + datetime.timedelta(-90))
end_date = '{:%Y-%m-%d}'.format(datetime.datetime.now())
transaction_response = client.Transactions.get(access_token,start_date,end_date)
print(json.dumps(transaction_response['transactions'][:2],indent=4, sort_keys=True))

[
    {
        "account_id": "n7QyJjeWR1ikAPbJJlqVHqkXr17W9EF6lKRGN",
        "account_owner": null,
        "amount": 6.33,
        "category": [
            "Travel",
            "Car Service",
            "Ride Share"
        ],
        "category_id": "22006001",
        "date": "2019-10-01",
        "iso_currency_code": "USD",
        "location": {
            "address": null,
            "city": null,
            "country": null,
            "lat": null,
            "lon": null,
            "postal_code": null,
            "region": null,
            "store_number": null
        },
        "name": "Uber 072515 SF**POOL**",
        "payment_meta": {
            "by_order_of": null,
            "payee": null,
            "payer": null,
            "payment_method": null,
            "payment_processor": null,
            "ppd_id": null,
            "reason": null,
            "reference_number": null
        },
        "pending": false,
        "pending_transaction_id": null,
        "transaction_id": "9mMPwZDBRNulwkqZZrJpt8RxvVbzldCRGj6Pz",
        "transaction_type": "special",
        "unofficial_currency_code": null
    },
    {
        "account_id": "yEW4bpyBkzUvqGprrNmMIwvJ9MpXodty6WmDA",
        "account_owner": null,
        "amount": 500,
        "category": [
            "Food and Drink",
            "Restaurants"
        ],
        "category_id": "13005000",
        "date": "2019-09-28",
        "iso_currency_code": "USD",
        "location": {
            "address": null,
            "city": null,
            "country": null,
            "lat": null,
            "lon": null,
            "postal_code": null,
            "region": null,
            "store_number": null
        },
        "name": "Tectra Inc",
        "payment_meta": {
            "by_order_of": null,
            "payee": null,
            "payer": null,
            "payment_method": null,
            "payment_processor": null,
            "ppd_id": null,
            "reason": null,
            "reference_number": null
        },
        "pending": false,
        "pending_transaction_id": null,
        "transaction_id": "JjNnbm6owRHZBdMbboqQI4o9zZVbdxfd4mP7n",
        "transaction_type": "place",
        "unofficial_currency_code": null
    }
]

### 2. Print the categories for each transaction

In [78]:
# YOUR CODE HERE
for transaction in transaction_response['transactions']:
    print(transaction['category'])

['Travel', 'Car Service', 'Ride Share']
['Food and Drink', 'Restaurants']
['Payment']
['Food and Drink', 'Restaurants']
['Shops', 'Sporting Goods']
['Payment', 'Credit Card']
['Travel', 'Car Service', 'Ride Share']
['Transfer', 'Debit']
['Transfer', 'Deposit']
['Recreation', 'Gyms and Fitness Centers']
['Travel', 'Airlines and Aviation Services']
['Food and Drink', 'Restaurants']
['Food and Drink', 'Restaurants', 'Coffee Shop']
['Food and Drink', 'Restaurants']
['Transfer', 'Credit']
['Travel', 'Airlines and Aviation Services']

In [79]:
transaction_response.keys()

dict_keys(['accounts', 'item', 'request_id', 'total_transactions', 'transactions'])

### 3. Create a new DataFrame using the following fields from the JSON transaction data: date, name, amount, category. 

(For categories with more than one label, just use the first category label in the list)

In [80]:
# YOUR CODE HERE
new_dataframe = pd.DataFrame(transaction_response['transactions'], columns=['date','name','amount','category'])
new_dataframe.head()

,date,name,amount,category
0,2019-10-01,Uber 072515 SF**POOL**,6.33,"[Travel, Car Service, Ride Share]"
1,2019-09-28,Tectra Inc,500.00,"[Food and Drink, Restaurants]"
2,2019-09-27,AUTOMATIC PAYMENT - THANK,2078.50,[Payment]
3,2019-09-27,KFC,500.00,"[Food and Drink, Restaurants]"
4,2019-09-27,Madison Bicycle Shop,500.00,"[Shops, Sporting Goods]"

### 4. Convert the data types to the appropriate types 

(i.e. datetimeindex for the date and float for the amount)

In [81]:
# YOUR CODE HERE
new_dataframe.dtypes

date         object
name         object
amount      float64
category     object
dtype: object

In [82]:
new_dataframe['date'] = pd.to_datetime(new_dataframe['date'], infer_datetime_format=True)
new_dataframe.dtypes

date        datetime64[ns]
name                object
amount             float64
category            object
dtype: object

---

# Income Analysis with Plaid

In this section, you will use the Plaid Sandbox to complete the following:
1. Determine the previous year's gross income and print the results
2. Determine the current monthly income and print the results
3. Determine the projected yearly income and print the results

In [83]:
# YOUR CODE HERE
previous_year_gross = client.Income.get(access_token)
previous_year_gross

{'income': {'income_streams': [{'confidence': 0.99,
    'days': 690,
    'monthly_income': 500,
    'name': 'UNITED AIRLINES'}],
  'last_year_income': 6000,
  'last_year_income_before_tax': 7285,
  'max_number_of_overlapping_income_streams': 1,
  'number_of_income_streams': 1,
  'projected_yearly_income': 6085,
  'projected_yearly_income_before_tax': 7389},
 'request_id': 'v6aMBwWu6Ug1Si3'}

---

# Budget Analysis
In this section, you will use the transactions DataFrame to analyze the customer's budget

1. Calculate the total spending per category and print the results (Hint: groupby or count transactions per category)
2. Generate a bar chart with the number of transactions for each category 
3. Calulate the expenses per month
4. Plot the total expenses per month

### Calculate the expenses per category

In [55]:
# YOUR CODE HERE

### Calculate the expenses per month

In [56]:
# YOUR CODE HERE